.notification {
  position: absolute;
  left: 10px;
  bottom: 10px;
  display: none;
  width: 300px;
  height: 100px;
  color: teal;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding: 10px;
}

.notification.active {
  display: block;
}

.title {
  font-size: 26px;
}

